<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>

    <h2>Cadastro de Autores e Livros</h2>
    <h3>Menu</h3><br>

    <a href="http://localhost:5002/cadastra_autor">Cadastrar Autor</a><br><br>
    <a href="http://localhost:5002/cadastra_livro">Cadastrar Livro</a><br><br><br>
    <a href="http://localhost:5002/autores">Autores Cadastrados</a><br><br>
    <a href="http://localhost:5002/livros">Livros Cadastrados</a><br><br>
    <a href="http://localhost:5002/autores-livros">Livros e Autores</a>

</body>
</html>